name: Docgen Primer Web

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate-components-json:
    name: Generate Primer Web components json
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      FIGMA_API_TOKEN: ${{ secrets.FIGMA_API_TOKEN }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Install Dependencies
        run: npm i

      - name: Generate component documentation JSON
        run: npm run docgen:web

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update packages/web/generated/components.json"
